table.ho1 td {
background-color: none;
}

table.ho1 td:hover {
  background-color: rgba(73,73,73,.3);
  border-width: 2px 4px;
  border-radius: 40px;
}
nav.honav li{
background-color: none;
}

nav.honav li:hover {
  background-color: rgba(73,73,73,.3);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}